@media only screen and (max-width : 600px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1%;
    }

    header h1 {
        margin-right: 35%;
    }

    #create-new-list-button {
        display: none;
    }

    main {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .list {
        display: block;
        width: 90%;
        margin-bottom: 1rem;
    }
}